<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Listing</title>
    <!-- External CSS for navbar -->
    <link rel="stylesheet" href="style.css">
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--Vue-->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Google Auth0 -->
    <script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    <meta name="google-signin-client_id" content="616186403576-ofsdqf0tp3r19t60rmflus3l3h9p25vo.apps.googleusercontent.com">
    <link rel="icon" href="./asset/HenesysSmallLogo.png">

</head>
<body>
    <div id="app">
        <!-- Navbar goes here -->
        <navbar></navbar>
        <!-- Header -->
  
        <header class="masthead bg-success p-5">
          <div class="container position-relative">
            <div class="row justify-content-center">
              <div class="col-xl-6">
                <div class="text-center text-white">
                  <!-- Page heading-->
                  <h1 class="mb-5">My Listings</h1>
  
                

                  <div class="row justify-content-center">
                    <div v-for="(key,value) in filters"  class="col-sm-2">

                        <div class="d-flex">
                            <button @click="filterListings(value)" class="btn btn-success p-3">{{key}}</button>
                        </div>
                     
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
  
  
        <section id="listings">
  
          <div class="container">
            <div class="row">
              <div class="col-lg-12 m-4 ">
                <h2 v-if="headercategory == 'All'">My listings (All)</h2>
                <h2 v-if="headercategory == 'open'" >My listings (Open)</h2>
                <h2 v-if="headercategory == 'pending'" >My listings (Pending)</h2>
                <h2 v-if="headercategory == 'accepted'" >My listings (Accepted)</h2>
                <h2 v-if="headercategory == 'closed'" >My listings (Closed)</h2>
                <h5 class="m-1">Filtered Results: {{results.length}}</h5>


              </div>
            </div>
            <div class="row">
     
            <!-- {{AllFilter['pending']}} -->
            <!-- {{AllFilter}} -->
            <div v-if="headercategory == 'All'">
              <div>
                <h5>Open</h5>
                <div v-if="AllFilter['open'].length > 0" class="row">
                  <div class="col-md-3" v-for="listing in AllFilter['open']">
                   
                    <div class="card-sl">
                        <div class="card-heading">
                            <h5 class="text-center">{{listing["item_name"]}}</h5>
                            <hr>
                        </div>
                        <div class="card-text">
                          <p v-if="listing['item_status'] == 'open'" class="text-center">There are no existing offers yet</p>
                          <h5 v-if="listing['item_status'] == 'open'" class="text-primary font-weight-bold text-center">Open</h5>
                        </div>
  
                        <div v-if="listing['item_status'] == 'accepted' || listing['item_status'] == 'pending' || listing['item_status'] == 'closed'" class="card-text">
                          <b>Buyer:</b> {{listing["buyer_name"]}} <br>
                          <b>Price:</b> {{listing["price"]}} <br>
                          <h5 class="text-success font-weight-bold" v-if="listing['item_status'] == 'accepted'">Accepted</h6>
                          <h5 class="text-warning font-weight-bold" v-if="listing['item_status'] == 'pending'">Pending</h6>
                      </div>

                      <div v-if="listing['item_status'] == 'closed'" class="card-text">
                        <h5 class="text-danger font-weight-bold">Closed</h5>
                      </div>
  
                        <button v-if="listing['item_status'] == 'open'" @click="removeListing(listing._id)" class="card-button-reject">Remove</button>
                        <div class="d-flex">
                          <button v-if="listing['item_status'] == 'pending'" @click="acceptOffer(listing._id)" class="card-button-accept">Accept</button>
                          <button v-if="listing['item_status'] == 'pending'" @click="rejectOffer(listing._id)" class="card-button-reject">Reject</button>
                        </div>
                    
                    </div>
                  </div>

                </div>

                <div v-else>
                  <h5 class="p-5">No open listings yet :(</h5>
                </div>

              </div>
          


              <div>
                <h5 class="mt-2">Pending</h5>
                <div v-if="AllFilter['pending'].length > 0" class="row">
                  <div class="col-md-3" v-for="listing in AllFilter['pending']">
                    <!-- {{listing}} -->
                    <div class="card-sl">
                        <div class="card-heading">
                          <h5 class="text-center">{{listing["item_name"]}}</h5>
                          <hr>
                        </div>
                        <div class="card-text">
                          <p v-if="listing['item_status'] == 'open'" class="text-center">There are no existing offers yet</p>
                          <h5 v-if="listing['item_status'] == 'open'" class="text-primary font-weight-bold text-center">Open</h6>
                        </div>
  
                        <div v-if="listing['item_status'] == 'accepted' || listing['item_status'] == 'pending' || listing['item_status'] == 'closed'" class="card-text">
                          <b>Buyer:</b> {{listing["buyer_name"]}} <br>
                          <b>Price:</b> {{listing["price"]}} <br>
                          <h5 class="text-success font-weight-bold" v-if="listing['item_status'] == 'accepted'">Accepted</h6>
                          <h5 class="text-warning font-weight-bold" v-if="listing['item_status'] == 'pending'">Pending</h6>
                      </div>

                      <div v-if="listing['item_status'] == 'closed'" class="card-text">
                        <h5 class="text-danger font-weight-bold">Closed</h5>
                      </div>
  
                        <button v-if="listing['item_status'] == 'open'" @click="removeListing(listing._id)" class="card-button-reject">Remove</button>
                        <div class="d-flex">
                          <button v-if="listing['item_status'] == 'pending'" @click="acceptOffer(listing._id)" class="card-button-accept">Accept</button>
                          <button v-if="listing['item_status'] == 'pending'" @click="rejectOffer(listing._id)" class="card-button-reject">Reject</button>
                        </div>
                    
                    </div>
                  </div>
                      

                </div>

                <div v-else>
                  <h5 class="p-5">No pending listings yet :(</h5>
                </div>

                
              </div>

              <div>
                <h5 class="mt-2">Accepted</h5>
                <div v-if="AllFilter['accepted'].length > 0" class="row">
                  <div class="col-md-3" v-for="listing in AllFilter['accepted']">
                    <div class="card-sl">
                        <div class="card-heading">
                          <h5 class="text-center">{{listing["item_name"]}}</h5>
                          <hr>
                        </div>
                        <div class="card-text">
                          <p v-if="listing['item_status'] == 'open'" class="text-center">There are no existing offers yet</p>
                          <h5 v-if="listing['item_status'] == 'open'" class="text-primary font-weight-bold text-center">Open</h5>
                        </div>
  
                        <div v-if="listing['item_status'] == 'accepted' || listing['item_status'] == 'pending' || listing['item_status'] == 'closed'" class="card-text">
                          <b>Buyer:</b> {{listing["buyer_name"]}} <br>
                          <b>Price:</b> {{listing["price"]}} <br>
                          <h5 class="text-success font-weight-bold" v-if="listing['item_status'] == 'accepted'">Accepted</h6>
                          <h5 class="text-warning font-weight-bold" v-if="listing['item_status'] == 'pending'">Pending</h6>
                      </div>

                      <div v-if="listing['item_status'] == 'closed'" class="card-text">
                        <h5 class="text-danger font-weight-bold">Closed</h5>
                      </div>
  
                        <button v-if="listing['item_status'] == 'open'" @click="removeListing(listing._id)" class="card-button-reject">Remove</button>
                        <div class="d-flex">
                          <button v-if="listing['item_status'] == 'pending'" @click="acceptOffer(listing._id)" class="card-button-accept">Accept</button>
                          <button v-if="listing['item_status'] == 'pending'" @click="rejectOffer(listing._id)" class="card-button-reject">Reject</button>
                        </div>
                    
                    </div>
                  </div>
                  
                </div>

                <div v-else>
                  <h5 class="p-5">No accepted listings yet :(</h5>
                </div>

                
              </div>

              <div>
                <h5 class="mt-2">Closed</h5>
                <div v-if="AllFilter['closed'].length > 0" class="row">
                  <div class="col-md-3" v-for="listing in AllFilter['closed']">
                    <!-- {{listing}} -->
                    <div class="card-sl">
                        <div class="card-heading">
                          <h5 class="text-center">{{listing["item_name"]}}</h5>
                          <hr>
                        </div>
                        <div class="card-text">
                          <p v-if="listing['item_status'] == 'open'" class="text-center">There are no existing offers yet</p>
                          <h5 v-if="listing['item_status'] == 'open'" class="text-primary font-weight-bold text-center">Open</h6>
                        </div>
  
                        <div v-if="listing['item_status'] == 'accepted' || listing['item_status'] == 'pending' || listing['item_status'] == 'closed'" class="card-text">
                          <b>Buyer:</b> {{listing["buyer_name"]}} <br>
                          <b>Price:</b> {{listing["price"]}} <br>
                          <h5 class="text-success font-weight-bold text-center" v-if="listing['item_status'] == 'accepted'">Accepted</h6>
                          <h5 class="text-warning font-weight-bold text-center" v-if="listing['item_status'] == 'pending'">Pending</h6>
                      </div>

                      <div v-if="listing['item_status'] == 'closed'" class="card-text">
                        <h5 class="text-secondary font-weight-bold">Closed</h5>
                      </div>
  
                        <button v-if="listing['item_status'] == 'open'" @click="removeListing(listing._id)" class="card-button-reject">Remove</button>
                        <div class="d-flex">
                          <button v-if="listing['item_status'] == 'pending'" @click="acceptOffer(listing._id)" class="card-button-accept">Accept</button>
                          <button v-if="listing['item_status'] == 'pending'" @click="rejectOffer(listing._id)" class="card-button-reject">Reject</button>
                        </div>
                    
                    </div>
                  </div>

                </div>

                <div v-else>
                  <h5 class="p-5">No past transactions yet :(</h5>
                </div>


              </div>
            </div>

                
            <div v-else class="row">
              <div v-for="result in results" :key="result" class="col-md-3">
  
                <div  >
                  <div class="card-sl">
                      <div class="card-heading">
                          <h5 class="text-center">{{result.item_name}}</h5>
                          <hr/>
  
                      </div>
                      <div class="card-text">
                        <p  v-if="result.buyer_name != null"class="mt-3">Buyer Name: <b>{{result.buyer_name}}</b></p>
                        <p v-if="result.buyer_name == null">There are no existing offers yet!</p>
                        <p v-if="result.price != null">Buyer's offer: <b><u class="text-success">{{result.price}} SGD </u></b></p>
                        <div>
                          <h5 class="text-primary font-weight-bold" v-if="result.item_status == 'open'">Open</h6>
                          <h5 class="text-success font-weight-bold" v-if="result.item_status == 'accepted'">Accepted</h6>
                          <h5 class="text-warning font-weight-bold" v-if="result.item_status == 'pending'">Pending</h6>
                          <h5 class="text-secondary font-weight-bold" v-if="result.item_status == 'closed'">Closed</h6>
                            
    
                        </div>
                      </div>
    
                      <hr v-if="result.item_status == 'accepted'"/>
    
                      <div v-if="result.item_status == 'accepted'" class="card-text">
                        <b>Location: </b> {{result.location}}
                    </div>
    
                    <div v-if="result.item_status == 'accepted'" class="card-text">
                      <b>Time: </b> {{result.date_time}}
                  </div>
    
                    
                      <button v-if="result.item_status == 'open'" @click="removeListing(result._id)" class="card-button-reject">Remove</button>
  
                      <div class="d-flex">
                        <button v-if="result.item_status == 'pending'" type="button" class="card-button-accept" @click="acceptOffer(result._id)">
                          Accept
                        </button>
                        <button v-if="result.item_status == 'pending'" type="button" class="card-button-reject" @click="rejectOffer(result._id)">
                          Reject
                        </button>
                      </div>
                  </div>
  
                </div>
  
              </div>               
            </div>
                
                <!-- Modal -->
                <!-- ======================================================================================== -->
                

              


  
          </div>
  
  
        </section>
  
  
  
      </div>
    
</body>
</html>


<script src="./narbar.js"></script>
<script>
    const app = Vue.createApp({
    data() {
      return {
          filters: { "All": "All Listings", "open": "Open Listings", "pending": "Pending Listings", "accepted": "Accepted Listings", "closed": "Closed Listings"},
          localStorageData: localStorage.id, //this is from oauth, for now put some dummy data
          results: [],
          unfilteredResult: '',
          AllFilter:  {
              "open": [],
              "pending": [],
              "accepted": [],
              "closed": []
            },
          headercategory: "All"

     
      };
    },
    async mounted() {

      this.checkLogin();
      // Fetching from NEW items microservice
      try{
        //   this.localStorageData = localStorage.getItem("user_id"); -> When it is actually implemented try this

          var getItemUrl = `http://localhost:5001/items/mylistings/seller/${this.localStorageData}`;
          
          var databaseitems = await fetch(getItemUrl)
          const databaseitemsJson = await databaseitems.json()

          if (databaseitems.status === 200){
            console.log(databaseitemsJson)
            // Get all the databases 
            this.results = databaseitemsJson.Success;
            this.unfilteredResult = databaseitemsJson.Success;
            // this.results = []

            for (item of this.results){
              if (item["item_status"] == 'open'){
                this.AllFilter["open"].push(item);
              }
              if (item.item_status == 'pending'){
                this.AllFilter["pending"].push(item);
              }
              if (item.item_status == 'accepted'){
                this.AllFilter["accepted"].push(item);
              }
              if (item.item_status == 'closed'){
                this.AllFilter["closed"].push(item);
              }

            }
            
            // console.log(results)
          
            console.log(this.results)

          }
          else{
           
          }
          }

          catch(error) {
            console.log(error)
          }
    },

    methods:{
      checkLogin() {
                // If the login variable is initalised, then we will redirect them to 
            if (localStorage.getItem("id")){
                // redirect them to login page
                // window.location.replace("/ESD_PROJECT/ESDT4/multi-page/catalogue.php");
                var jsondata = JSON.parse(localStorage.login)
                var mobile = jsondata['mobile']
                console.log(mobile)
                if (mobile == "" || mobile == "0" || mobile == 0) {
                    window.location.replace("./Insertmobile.php");
                }
            }
            else {
                window.location.replace("./");
            }
                }, 


      filterListings(categoryName){
        this.headercategory = categoryName
        console.log("hi")
        this.resetPosts()
        console.log(categoryName)
        console.log(this.results)
        if (categoryName !== "All"){

          this.results = this.results.filter((result) => {
            // console.log(result.Category)
            return result.item_status === categoryName;
          })
        }

      },

      resetPosts(){
        this.results = this.unfilteredResult
      },

      async acceptOffer(itemid){

        

        // Fetch post ID TO COMPLEX
          console.log("hi")
          console.log(itemid)
          const payload = {
            item_id: itemid
          }

          url = "http://localhost:5300/accept_offer"
          const options = {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(payload)
          }

          try {

            const result = await fetch(url, options)
            const response = await result.json()
            
          if (result.ok) {
            console.log(response)
            if (response.code == 201){
              alert("You have accepted the offer successfully")

              window.location.href = "cataloguenew.php";
            }
          } 
        }

        catch(err) {

          console.log(err)
        
        }

          

      },

      async rejectOffer(itemid){

      // Fetch post ID TO COMPLEX
        console.log("hi")
        console.log(itemid)
        const payload = {
            item_id: itemid
          }
        
      const url = "http://localhost:5400/reject_offer"
      const options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload)
                }

   


        try {
          const result = await fetch(url, options)
          const response = await result.json()
          if (result.ok) {
            console.log(response)
            if (response.code == 201){
              alert("You have rejected the offer successfully")

              window.location.href = "cataloguenew.php";
            }
          } 
        }

        catch(err){

          console.log(err)
        
        }


      },
      removeListing(itemid){
                  console.log("hi")
                  console.log(itemid)
                  var deleteItemUrl = `http://localhost:5001/items/delete/${itemid}`;
                  const options = {
                    method: 'DELETE',
                    headers: {
                      'Content-Type': 'application/json'
                    }
                  }
                  fetch(deleteItemUrl, options)
                  .then(response => {
                    if (response.status === 200) {
                      alert("Item has been removed!")
                      location.reload()
                      
                    }
                    else {
                      alert("Item could not be removed!")
                    }
                  })


                }
    },

    computed:{
    
    }
  });

  app.component("navbar",{
            template: template1,
            data() {
                return{
                    links: links1,
                    isSignedIn: localStorage.getItem("id"),
                }

            },

            methods:{
                
                signOut() {
                    let gapi = window.gapi;
                    let clientId ="616186403576-ofsdqf0tp3r19t60rmflus3l3h9p25vo.apps.googleusercontent.com";
                    let apiKey ="AIzaSyC0WtHoYqLnGKgaqLWX6RGkiL0X2C7dll8";
                    let secretClientId = "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";
                    let discoveryDocs =["https://www.googleapis.com/discovery/v1/apis/oauth2/v2/rest"];
                    let scope ="https://www.googleapis.com/auth/userinfo.profile";

                    gapi.load("client:auth2", () => {
                        gapi.client.init({
                            apiKey,
                            clientId,
                            discoveryDocs,
                            scope,
                            secretClientId,})

                            .then(() => {
                                var GoogleAuthObj = gapi.auth2.getAuthInstance();
                                this.GoogleAuth = GoogleAuthObj.signOut();
                                this.isSignedIn = false;
                            })
                    })
                    
                    localStorage.removeItem("login")
                    localStorage.removeItem("id")
                    alert("You have been logged out!")
                    location.reload()
                },
            }
        })

 app.component("navbar",{
            template: template1,
            data() {
                return{
                    links: links1,
                    isSignedIn: localStorage.getItem("id"),
                }

            },

            methods:{
                
                signOut() {
                    let gapi = window.gapi;
                    let clientId ="616186403576-ofsdqf0tp3r19t60rmflus3l3h9p25vo.apps.googleusercontent.com";
                    let apiKey ="AIzaSyC0WtHoYqLnGKgaqLWX6RGkiL0X2C7dll8";
                    let secretClientId = "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";
                    let discoveryDocs =["https://www.googleapis.com/discovery/v1/apis/oauth2/v2/rest"];
                    let scope ="https://www.googleapis.com/auth/userinfo.profile";

                    gapi.load("client:auth2", () => {
                        gapi.client.init({
                            apiKey,
                            clientId,
                            discoveryDocs,
                            scope,
                            secretClientId,})

                            .then(() => {
                                var GoogleAuthObj = gapi.auth2.getAuthInstance();
                                this.GoogleAuth = GoogleAuthObj.signOut();
                                this.isSignedIn = false;
                            })
                    })
                    
                    localStorage.removeItem("login")
                    localStorage.removeItem("id")
                    alert("You have been logged out!")
                    location.reload()
        },
            }
        })

  app.mount("#app");

</script>



<style>

.card-sl {
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-family: "Montserrat", sans-serif;
        margin:10px;
        box-sizing: border-box;

    }

    .card-image img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0;
    }

    .card-action {
        position: relative;
        float: right;
        margin-top: -25px;
        margin-right: 20px;
        z-index: 2;
        color: #E26D5C;
        background: #fff;
        border-radius: 100%;
        padding: 15px;
        font-size: 15px;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
    }

    .card-action:hover {
        color: #fff;
        background: #E26D5C;
        -webkit-animation: pulse 1.5s infinite;
    }

    .card-heading {
        font-size: 18px;
        font-weight: bold;
        background: #fff;
        padding: 10px 15px;
        box-sizing: border-box;

    }

    .card-text {
        padding: 10px 15px;
        background: #fff;
        font-size: 14px;
        color: #636262;
    }

    .card-button-reject {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        background-color: #dc2323;
        color: #fff;
        border-radius: 0 0 8px 8px;
        font: "Montserrat", sans-serif;
    }

    .card-button-reject:hover {
        text-decoration: none;
        background-color: #960303;
        color: #fff;

    }

    .card-button-accept {
        display: flex;
        justify-content: center;
        padding: 10px 0;
        width: 100%;
        background-color: #04b30d;
        color: #fff;
        border-radius: 0 0 8px 8px;
        font: "Montserrat", sans-serif;
    }

    .card-button-accept:hover {
        text-decoration: none;
        background-color: #197901;
        color: #fff;

    }

</style>