<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Offers</title>
    <!-- External CSS for navbar -->
    <link rel="stylesheet" href="style.css">
    <!--bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--axios-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!--Vue-->
    <script src="https://unpkg.com/vue@next"></script>
    <!-- Google Auth0 -->
    <script async defer src="https://apis.google.com/js/api.js"
        onload="this.onload=function(){};handleClientLoad()"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    <meta name="google-signin-client_id" content="616186403576-ofsdqf0tp3r19t60rmflus3l3h9p25vo.apps.googleusercontent.com">
</head>
<body>
    <div id="app">
        <!-- Navbar goes here -->
        <navbar></navbar>
        <!-- Header -->
  
        <header class="masthead bg-success p-5">
          <div class="container position-relative">
            <div class="row justify-content-center">
              <div class="col-xl-6">
                <div class="text-center text-white">
                  <!-- Page heading-->
                  <h1 class="mb-5">My Offers</h1>
  
                

                  <div class="row justify-content-center">
                    <div v-for="(value,key) in filters"  class="col-sm-2">

                        <div class="d-flex">
                            <button @click="filterListings(value)" class="btn btn-success p-3">{{key}}</button>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </header>
  
  
        <section id="listings">
  
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h2 v-if="headercategory == 'All'" class="mb-5 py-5">Offers (All)</h2>
                <h2 v-if="headercategory == 'pending'" class="mb-5 py-5">Offers (Pending)</h2>
                <h2 v-if="headercategory == 'accepted'" class="mb-5 py-5">Offers (Accepted)</h2>
                <h2 v-if="headercategory == 'closed'" class="mb-5 py-5">Offers (Closed)</h2>


              </div>
            </div>
            <div class="row">
              <div v-for="result in results" :key="result" class="col-lg-4 col-md-6 mb-4">

                <div class="card h-100">
                  <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt="" /></a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#">{{result.item_name}}</a>
                    </h4>
                    <p class="card-text">{{result.description}}</p>

                    <div class="row">

                      <!-- <div class="col text-center">
                        <button v-if="result.item_status == 'pending'" class="btn btn-success" @click="acceptOffer(result._id)">Accept</button>

                      </div> -->

                      <div class="col text-center">
                        <button v-if="result.item_status == 'pending'" class="btn btn-primary btn-danger" @click="buyerReject(result._id)">Reject</button>

                      </div>
                      <!-- <button v-else class="btn btn-primary" disabled>Accept</button> -->
                      <!-- <a class="btn btn-primary" v-if="result.item_status == 'accepted'" :href="`reviewpage.html?itemid=${result._id}`">Review</a> -->

                      <!-- Button trigger modal -->
                      <button v-if="result.item_status == 'accepted'" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Leave Rating
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Ratings</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <p>Please leave your ratings for the seller: {{result.seller_name}}</p>


                              <!-- <div class="stars">
                                <a>⭐</a>
                                <a>⭐</a>
                                <a>⭐</a>
                                <a>⭐</a>
                                <a>⭐</a>
                              </div> -->

                              <div class="ratings d-flex justify-content-around">
                                <input class="form-check-input" type="radio" id="one" value="1" v-model="picked">
                                <label class="form-check-label" for="one">1</label>

                                <input  class="form-check-input" type="radio" id="two" value="2" v-model="picked">
                                <label class="form-check-label" for="two">2</label>

                                <input class="form-check-input" type="radio" id="three" value="3" v-model="picked">
                                <label class="form-check-label" for="three">3</label>

                                <input class="form-check-input" type="radio" id="four" value="4" v-model="picked">
                                <label class="form-check-label" for="four">4</label>

                                <input class="form-check-input" type="radio" id="five" value="5" v-model="picked">
                                <label class="form-check-label" for="five">5</label>

                                <!-- {{picked}} -->
                                
                              </div>


                              
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                              <button type="button" class="btn btn-primary" @click="sendReview(result._id)">Send Rating</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- ======================================================================================== -->

                    </div>
                    <div class="card-footer">
                      <small class="text-muted">Item status: {{result.item_status}}</small>

                    </div>
                </div>


              </div>

              {{localStorageData}}

  
          </div>
  
  
        </section>
  
  
      </div>
    
</body>
</html>


<script src="./narbar.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
    const app = Vue.createApp({
    data() {
      return {
          filters: { "All Listings": "All", "Awaiting Reply": "pending", "Accepted Offer": "accepted", "Past Success Offers": "closed"},
          localStorageData: localStorage.id, 
          results: [],
          headercategory: "All",
          unfilteredResult: '',
          filteredTabResults: [],
          picked: ""
      };
    },


    async mounted() {
      this.checkLogin();
      // Fetching from NEW items microservice
      try{
        //   this.localStorageData = localStorage.getItem("user_id"); -> When it is actually implemented try this

          var getItemUrl = `http://localhost:5001/items/myoffers/buyer/${this.localStorageData}`;
          
          var databaseitems = await fetch(getItemUrl)
          const databaseitemsJson = await databaseitems.json()

          if (databaseitems.status === 200){
            console.log(databaseitemsJson)
            // Get all the databases 
            this.results = databaseitemsJson.Success;
            this.unfilteredResult = databaseitemsJson.Success;
            console.log(this.results)

          }
          else{
            console.log("Database not connected")
          }
          }

          catch(error) {
            console.log(error)
          }
    },

    methods:{
      checkLogin() {
                // If the login variable is initalised, then we will redirect them to 
                    if (localStorage.getItem("id")){
                        // redirect them to login page
                        // window.location.replace("/ESD_PROJECT/ESDT4/multi-page/catalogue.php");
                    }
                    else {
                        window.location.replace("./");
                    }
                }, 

      filterListings(categoryName){
        console.log("hi")
        this.resetPosts()
        console.log(categoryName)
        console.log(this.results)
        if (categoryName !== "All"){
          this.headercategory = categoryName
          this.results = this.results.filter((result) => {
            // console.log(result.Category)
            return result.item_status === categoryName;
          })
        }

        else{
          this.headercategory = "All"
        }



      },

      resetPosts(){
        this.results = this.unfilteredResult
      },

      acceptOffer(itemid){

        // Fetch post ID TO COMPLEX
          console.log("hi")
          console.log(itemid)

      },

      async buyerReject(itemid){
          
          // Edit the item status to rejected, we will just edit the item status directly, do we need to notify the buyer?

          const payload = {
            item_id: itemid
          }
          
          // const url = `http://localhost:5001/items/${itemid}`;

          // const result = await fetch(url, {
          //   method: 'PUT',
          //   body: JSON.stringify(payload),
          //   headers: {
          //     'Content-Type': 'application/json'
          //   }
          // })

          // const response = await result.json();

          // try{

          //   if (result.status === 200){
          //     console.log(response)
          //     console.log("Item status changed to open")
          //     alert("Thank you for rejecting your offer, you will be redirected to the main page")
          //     window.location.href= "cataloguenew.php"
          //   }
          //   else{
          //     console.log("Item status not changed")
          //   }
          // }

          // catch(error){

          //   console.log(error)


          // }


          
  
      },

      async sendReview(itemid){

        const payload = {
          // user_id: this.localStorageData,
          item_id: itemid,
          rating: this.picked
        }


        console.log(payload)

        // put the rating into the database
        const url = `http://localhost:5500/leave_rating`;
                options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(payload)
                }
                const result = await fetch(url, options);

                const data = await result.json();

                try{
                    if (result.ok){
                        console.log(data);
                        alert("Listing created successfully");
                    }
                    else{
                        console.log(data);
                        alert("Listing creation failed");
                    }

                }
                catch{

                }



        
      }
    },

    computed:{
    
    }
  });

  app.component("navbar",{
            template: template1,
            data() {
                return{
                    links: links1,
                    isSignedIn: localStorage.getItem("id"),
                }

            },

            methods:{
                
                signOut() {
                    let gapi = window.gapi;
                    let clientId ="616186403576-ofsdqf0tp3r19t60rmflus3l3h9p25vo.apps.googleusercontent.com";
                    let apiKey ="AIzaSyC0WtHoYqLnGKgaqLWX6RGkiL0X2C7dll8";
                    let secretClientId = "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";
                    let discoveryDocs =["https://www.googleapis.com/discovery/v1/apis/oauth2/v2/rest"];
                    let scope ="https://www.googleapis.com/auth/userinfo.profile";

                    gapi.load("client:auth2", () => {
                        gapi.client.init({
                            apiKey,
                            clientId,
                            discoveryDocs,
                            scope,
                            secretClientId,})

                            .then(() => {
                                var GoogleAuthObj = gapi.auth2.getAuthInstance();
                                this.GoogleAuth = GoogleAuthObj.signOut();
                                this.isSignedIn = false;
                            })
                    })
                    
                    localStorage.removeItem("login")
                    localStorage.removeItem("id")
                    alert("You have been logged out!")
                    location.reload()
        },
            }
        })

  app.mount("#app");

</script>



<style>

  .stars{
    display:flex
  }
  .stars a{
    opacity:50%;
    cursor: "pointer";
    padding: 5px;
  }

  .stars:hover a{
    opacity:100%;
    
    cursor: "pointer";

    /* cursor: "pointer" */
  }

  .stars a:hover{
    opacity:100%;
    cursor: "pointer"
  }

  .stars a:hover ~ a{
    opacity:50%;
    cursor: "pointer"
  }

</style>